/*
De acá para abajo casi anda.
*/
@mixin subwindow {
    /*@include valo;*/
    
    // your styles go here
    .v-subwindow {
        @extend .v-window;
        position: absolute !important;
        background: blue;
    }
    
    .v-subwindow-noheader {
        .v-subwindow-outerheader {
            display: none;
        }
    }

    
    .v-subwindow-wrap {
        @extend .v-window-wrap;
    }
    
    .v-subwindow > .popupContent,
        .v-subwindow-wrap,
        .v-subwindow-contents,
        .v-subwindow-contents > .v-scrollable {
        height: 100%;
    }
    
    .v-subwindow .v-subwindow-disabled {
        @extend .v-window .v-window-disabled;
    }
    
    /*======== HEADER ========*/
    .v-subwindow-outerheader {
        @extend .v-window-outerheader;
        /*position: relative !important;*/
    }
    
    .v-subwindow-header {
        @extend .v-window-header;
        /*@include md-title-font($primary-color);*/
    }
    
    .v-subwindow-maximizebox {
        @extend .v-window-maximizebox;
    }
    
    .v-subwindow-restorebox {
        @extend .v-window-restorebox;
    }
    
    .v-subwindow-closebox {
        @extend .v-window-closebox;
    }
    
    .v-subwindow-closebox .v-subwindow-closebox-disable {
        @extend .v-window-closebox .v-window-closebox-disable;
    }
    
    
    /*==========================*/
    
    .v-subwindow-contents {
        @extend .v-window-contents;
/*        display: flex;
        flex-direction: column;
        overflow: hidden;*/
    }


    // Scrollable adds a bottom border to the header
    &.v-subwindow-scrollable {
        @extend .v-window-scrollable;
        
    }

    /*====== FOOTER ======*/
    .v-subwindow-footer {
        @extend .v-window-footer;
    }
    
    .v-subwindow-footer-noresize {
        @extend .v-window-footer-noresize;
    }
    
    .v-subwindow-resizebox {
        @extend .v-window-resizebox;
    }
    
    .v-subwindow-resizebox-disabled {
        @extend .v-window-resizebox-disabled;
    }
    
    /*====== CURTAIN =====*/
    .v-subwindow-modalitycurtain {
        @extend .v-window-modalitycurtain;
    }
    
    .v-subwindow-resizingCurtain{
        @extend .v-window-resizingcurtain;
    }
    
    .v-subwindow-draggingCurtain {
        @extend .v-window-draggingCurtain;
    }
    
}
